<%= provide(:title, "Edit mini") %>
<h1>Edit mini</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@mini) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :ctype %>
      <%= f.select :ctype, Mini.ctypes.collect { |p| p }, class: 'form-control' %>
      
      <%= f.label :synstart %>
      <%= f.text_field :synstart, class: 'form-control' %>
      
      <%= f.label :synend %>
      <%= f.text_field :synend, class: 'form-control' %>

      <%= f.label :sequence %>
      <%= f.text_field :sequence, class: 'form-control' %>

      <%= f.label :introduction %>
      <%= f.text_field :introduction, class: 'form-control' %>

      <%= f.label :latest? %>
      <%= f.check_box :latest_flag %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
