<% provide(:title, @mini.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="mini_info">
      <h1>
        <%= @mini.name %>
      </h1>
    </section>
    <%= @mini.ctype %>
    <br/>
    <%= @mini.synstart %>
    <br/>
    <%= @mini.synend %>
    <br/>
    <%= @mini.sequence %>
    <br/>
    <%= @mini.introduction %>
    <br/>
    <%= @mini.latest_flag %>
    <br/>
  </aside>
</div>
<%= link_to "Edit", edit_mini_path %>
