<% provide(:title, @mega.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="mega_info">
      <h1>
        <%= @mega.name %>
      </h1>
    </section>
    <%= @mega.synstart %>
    <br/>
    <%= @mega.synend %>
    <br/>
    <%= @mega.marker %>
    <br/>
    <%= @mega.latest_flag %>
    <br/>
    <%= @mega.introduction %>
    <br/>
  </aside>
</div>
<%= link_to "Edit", edit_mega_path %>
<br/>
<%= link_to "Chunks", controller: "chunks", action: "index", params: { :mega_id => @mega.id } %>
